@import "./config";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 0;
  backdrop-filter: blur(24px);
  &.scrolled {
    background: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem !important;
    background: #000;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .logo {
      @include centerFlex();
      img {
        height: 32px;
        object-fit: contain;
      }
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      transition: all 0.4s ease-in-out;
      z-index: 9;
      img {
        height: 32px;
        object-fit: contain;
      }
      li.hide_lg {
        display: none;
      }
      @media screen and (max-width: 768px) {
        padding: 2rem 1.5rem;
        position: fixed;
        background: #101010;
        height: 100vh;
        top: 0;
        right: -50%;
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
        li.hide_lg {
          display: block;
        }
        &.active {
          right: 0;
        }
      }
      a {
        color: $white;
        font-size: 16px;
      }
    }
    .layer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      height: 100vh;
      &.active {
        display: block;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 12px;
      button {
        color: $white;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: normal;
      }
      .menu-button {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}

main {
  min-height: 100vh;
  margin-top: 84px;

  .hero {
    padding: 120px 0;
    @media screen and (max-width: 768px) {
      padding: 60px 0;
    }
    .content {
      h1 {
        color: #fff;
        font-size: 58px;
        line-height: 1.5;
        margin-bottom: 1rem;
        @media screen and (max-width: 768px) {
          font-size: 46px;
        }
      }
      p {
        color: $gray;
        margin-bottom: 32px;
      }
      .animated_button {
        padding: 8px 24px;
        background: $white;
        color: $black;
        display: block;
        width: fit-content;
        border-radius: 50px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        &::before {
          content: "";
          top: -100%;
          left: 0;
          width: 50%;
          height: 100%;
          z-index: -1;
          position: absolute;
          transition: all 0.4s ease-in-out;
          background: $main;
        }
        &::after {
          content: "";
          top: 100%;
          right: 0;
          width: 50%;
          height: 100%;
          transition: all 0.4s ease-in-out;
          position: absolute;
          background: $main;
          z-index: -1;
        }
        &:hover {
          color: $white;
          &::before {
            top: 0;
          }
          &::after {
            top: 0;
          }
        }
      }
    }
    .img {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        top: -16px;
        left: -16px;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 2px solid #ffffff;
      }
      img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }
  }

  .contact_section {
    padding-top: 60px;
    .contact_info {
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 24px;
      padding: 48px 32px;
      h3 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 48px;
      }
      h5 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 8px;
      }
      p {
        color: $gray;
        font-size: 14px;
        line-height: 22px;
        margin: 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 48px;
      }
      .field {
        width: 100%;
        display: flex;
        gap: 16px;
        align-items: center;
        .icon {
          min-width: 64px;
          height: 64px;
          border-radius: 50%;
          border: 2px solid $white;
          overflow: hidden;
          isolation: isolate;
          position: relative;
          @include centerFlex();
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
            background: $main;
          }
          i {
            font-size: 24px;
            color: $white;
            z-index: 1;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 4px;
            color: $main;
            font-size: 18px;
          }
          a {
            color: $gray;
          }
        }
        &:hover {
          .text a {
            color: $main;
          }
          .icon {
            background: $main;
            border-color: transparent;
            i {
              color: $white;
            }
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: #000;
      border-radius: 24px;
      padding: 24px;
      .input_field {
        width: 100%;
        display: flex;
        gap: 4px;
        flex-direction: column;
        label {
          color: $white;
          font-size: 16px;
        }
        input,
        textarea {
          padding: 12px 16px;
          border: 1px solid #292929;
          border-radius: 12px;
          background: #292929;
          color: $white;
          font-size: 16px;
          transition: all 0.4s ease-in-out;
          &:focus {
            border-color: $main;
          }
        }
      }
      button {
        padding: 12px 16px;
        border: 1px solid $main;
        border-radius: 12px;
        background: $main;
        color: $white;
        font-size: 16px;
        margin-top: 12px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          background: $white;
          color: $main;
        }
      }
    }
    .map {
      height: 420px;
      margin-top: 32px;
    }
  }

  .gallery_section {
    padding: 100px 0;
    background: $main;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -46px;
      left: 0;
      width: 100%;
      height: 48px;
      background: url("../images/pattern.svg");
      background-size: contain;
      background-repeat: repeat;
      background-position: bottom;
    }
    .img {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      isolation: isolate;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        z-index: 1;
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: #00000041;
        transition: 0.4s ease-in-out;
        opacity: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
        img {
          transform: scale(1.1) rotate(-2deg);
        }
      }
    }
    .swiper-controls {
      display: flex;
      align-items: center;
      gap: 5rem;
      height: 70px;

      %button-base {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        background: transparent;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          width: 65px;
          height: 65px;
          border-color: $white;
        }
      }

      .service-button-prev {
        @extend %button-base;

        &::before {
          content: "";
          position: absolute;
          width: 42px;
          height: 1px;
          background: $white;
          top: 50%;
          left: 88%;
          transform: translate(-20%, -50%);
          transition: all 0.4s ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right: 6px solid $white;
          top: 50%;
          left: calc(70% - 4px);
          transform: translateY(-50%);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          &::before {
            width: 36px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &::after {
            left: calc(20% - 4px);
          }
        }
      }

      .service-button-next {
        @extend %button-base;

        &::before {
          content: "";
          position: absolute;
          width: 42px;
          height: 1px;
          background: $white;
          top: 50%;
          left: -12%;
          transform: translate(-60%, -50%);
          transition: all 0.4s ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 6px solid $white;
          top: 50%;
          left: calc(30% - 4px);
          transform: translateY(-50%);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          &::before {
            width: 36px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &::after {
            left: calc(80% - 4px);
          }
        }
      }
    }
  }

  .last_blogs_section {
    padding: 80px 0;
    .title,
    .subtitle {
      color: $white;
      text-align: center;
    }

    .blog_card {
      width: 100%;
      background: $black;
      border-radius: 16px;
      .img {
        width: 100%;
        aspect-ratio: 3 / 2;
        overflow: hidden;
        border-radius: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h6 {
          color: $white;
          font-size: 16px;
        }
        p {
          color: $white;
          font-size: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          margin: 0;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        a {
          color: $main;
        }
      }
    }
  }
}

footer {
  padding: 60px 8px 16px;
  border: 1px solid #292929;
  .img {
    img {
      height: 40px;
    }
  }
  .about {
    p {
      font-size: 14px;
      font-weight: 600;
      color: $white;
      line-height: 26px;
      max-width: 800px;
      padding-inline-end: 52px;
      @media screen and (max-width: 992px) {
        padding-inline-end: 0;
      }
    }
  }
  .social {
    display: flex;
    gap: 16px;
    li {
      padding: 0;
    }
    a {
      width: 36px;
      height: 36px;
      @include centerFlex();
      background: $main;
      border-radius: 4px;
      font-size: 14px;
      transition: all 0.4s ease-in-out;
      i {
        color: $white;
      }
      &:hover {
        background: $white;
        transform: translateY(-4px);
        i {
          color: $main;
        }
      }
    }
  }
  h3 {
    color: $white;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
    @media (max-width: 992px) {
      margin-top: 32px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding-left: 24px;
      margin-bottom: 8px;
      a {
        color: $white;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: $main;
        }
      }
    }
  }
  .copy {
    @include space-between();
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid #292929;
    gap: 16px;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    p {
      color: $white;
      line-height: 26px;
      a {
        color: $main;
      }
    }
  }
}
