@import "./config";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 0;
  backdrop-filter: blur(24px);
  &.scrolled {
    background: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem !important;
    background: #000;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .logo {
      @include centerFlex();
      img {
        height: 32px;
        object-fit: contain;
      }
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      transition: all 0.4s ease-in-out;
      z-index: 9;
      img {
        height: 32px;
        object-fit: contain;
      }
      li.hide_lg {
        display: none;
      }
      @media screen and (max-width: 768px) {
        padding: 2rem 1.5rem;
        position: fixed;
        background: #101010;
        height: 100vh;
        top: 0;
        right: -50%;
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        align-items: flex-start;
        li.hide_lg {
          display: block;
        }
        &.active {
          right: 0;
        }
      }
      a {
        color: $white;
        font-size: 16px;
        &:hover {
          color: $main;
        }
      }
    }
    .layer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      height: 100vh;
      &.active {
        display: block;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 12px;
      button {
        color: $white;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: normal;
      }
      .menu-button {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}

main {
  min-height: 100vh;
  margin-top: 94px;

  .hero {
    padding: 120px 0;
    @media screen and (max-width: 768px) {
      padding: 60px 0;
    }
    .content {
      h1 {
        color: #fff;
        font-size: 58px;
        line-height: 1.5;
        margin-bottom: 1rem;
        @media screen and (max-width: 768px) {
          font-size: 46px;
        }
      }
      p {
        color: $gray;
        margin-bottom: 32px;
      }
      .animated_button {
        padding: 8px 24px;
        background: $white;
        color: $black;
        display: block;
        width: fit-content;
        border-radius: 50px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        &::before {
          content: "";
          top: -100%;
          left: 0;
          width: 50%;
          height: 100%;
          z-index: -1;
          position: absolute;
          transition: all 0.4s ease-in-out;
          background: $main;
        }
        &::after {
          content: "";
          top: 100%;
          right: 0;
          width: 50%;
          height: 100%;
          transition: all 0.4s ease-in-out;
          position: absolute;
          background: $main;
          z-index: -1;
        }
        &:hover {
          color: $white;
          &::before {
            top: 0;
          }
          &::after {
            top: 0;
          }
        }
      }
    }
    .img {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        top: -16px;
        left: -16px;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 2px solid #ffffff;
      }
      img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }
  }

  .contact_section {
    padding-top: 60px;
    .contact_info {
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: 24px;
      padding: 48px 32px;
      h3 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 48px;
      }
      h5 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 8px;
      }
      p {
        color: $gray;
        font-size: 14px;
        line-height: 22px;
        margin: 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 48px;
      }
      .field {
        width: 100%;
        display: flex;
        gap: 16px;
        align-items: center;
        .icon {
          min-width: 64px;
          height: 64px;
          border-radius: 50%;
          border: 2px solid $white;
          overflow: hidden;
          isolation: isolate;
          position: relative;
          @include centerFlex();
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
            background: $main;
          }
          i {
            font-size: 24px;
            color: $white;
            z-index: 1;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 4px;
            color: $main;
            font-size: 18px;
          }
          a {
            color: $gray;
          }
        }
        &:hover {
          .text a {
            color: $main;
          }
          .icon {
            background: $main;
            border-color: transparent;
            i {
              color: $white;
            }
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .map {
      height: 420px;
      margin-top: 32px;
    }
  }

  .gallery_section {
    padding: 100px 0;
    background: $main;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -46px;
      left: 0;
      width: 100%;
      height: 48px;
      background: url("../images/pattern.svg");
      background-size: contain;
      background-repeat: repeat;
      background-position: bottom;
    }
    .img {
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      isolation: isolate;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        z-index: 1;
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: #00000041;
        transition: 0.4s ease-in-out;
        opacity: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
        img {
          transform: scale(1.1) rotate(-2deg);
        }
      }
    }
    .swiper-controls {
      display: flex;
      align-items: center;
      gap: 5rem;
      height: 70px;

      %button-base {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        background: transparent;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          width: 65px;
          height: 65px;
          border-color: $white;
        }
      }

      .service-button-prev {
        @extend %button-base;

        &::before {
          content: "";
          position: absolute;
          width: 42px;
          height: 1px;
          background: $white;
          top: 50%;
          left: 88%;
          transform: translate(-20%, -50%);
          transition: all 0.4s ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right: 6px solid $white;
          top: 50%;
          left: calc(70% - 4px);
          transform: translateY(-50%);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          &::before {
            width: 36px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &::after {
            left: calc(20% - 4px);
          }
        }
      }

      .service-button-next {
        @extend %button-base;

        &::before {
          content: "";
          position: absolute;
          width: 42px;
          height: 1px;
          background: $white;
          top: 50%;
          left: -12%;
          transform: translate(-60%, -50%);
          transition: all 0.4s ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 6px solid $white;
          top: 50%;
          left: calc(30% - 4px);
          transform: translateY(-50%);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          &::before {
            width: 36px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &::after {
            left: calc(80% - 4px);
          }
        }
      }
    }
  }

  .last_blogs_section {
    padding: 80px 0;
    .title,
    .subtitle {
      color: $white;
      text-align: center;
    }

    .blog_card {
      width: 100%;
      background: $black;
      border-radius: 16px;
      .img {
        width: 100%;
        aspect-ratio: 3 / 2;
        overflow: hidden;
        border-radius: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h6 {
          color: $white;
          font-size: 16px;
        }
        p {
          color: $white;
          font-size: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          margin: 0;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        a {
          color: $main;
        }
      }
    }
  }

  .about-us {
    .container {
      padding-top: 60px;
      .content {
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .title {
          color: $main;
        }
        .text {
          color: $main5;
        }
        .animated_button {
          padding: 8px 24px;
          background: $white;
          color: $black;
          display: block;
          width: fit-content;
          border-radius: 50px;
          position: relative;
          isolation: isolate;
          overflow: hidden;
          transition: all 0.4s ease-in-out;
          &::before {
            content: "";
            top: -100%;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
            position: absolute;
            transition: all 0.4s ease-in-out;
            background: $main;
          }
          &::after {
            content: "";
            top: 100%;
            right: 0;
            width: 50%;
            height: 100%;
            transition: all 0.4s ease-in-out;
            position: absolute;
            background: $main;
            z-index: -1;
          }
          &:hover {
            color: $white;
            &::before {
              top: 0;
            }
            &::after {
              top: 0;
            }
          }
          @media screen and (max-width: 768px) {
            margin: 0 auto;
          }
        }
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .about-img {
      position: relative;
      display: flex;
      gap: 20px;

      .img-wrapper {
        position: relative;
        display: inline-block;

        img {
          display: block;
          width: 100%;
          height: auto;
          transition: transform 0.3s ease;
        }
        img:hover {
          transform: scale(1) rotate(-4deg);
        }
        &:last-child {
          margin-top: 15px;
        }
        &:first-child {
          margin-bottom: 15px;
        }

        &:first-child::after {
          content: "";
          position: absolute;
          top: -16px;
          right: -16px;
          width: 100%;
          height: 100%;
          border: 2px solid $main;
          pointer-events: none;
          box-sizing: border-box;
        }

        &::after {
          content: "";
          position: absolute;
          top: -16px;
          left: -16px;
          width: 100%;
          height: 100%;
          border: 2px solid $main5;
          pointer-events: none;
          box-sizing: border-box;
        }
      }

      .frame-style {
        position: relative;
        display: inline-block;

        img {
          display: block;
          width: 100%;
          max-height: 300px;
          height: auto;
          transition: transform 0.3s ease;
        }

        img:hover {
          transform: scale(1) rotate(-4deg);
        }

        &::after {
          content: "";
          position: absolute;
          top: -16px;
          left: -16px;
          width: 100%;
          height: 100%;
          border: 2px solid $main5;
          pointer-events: none;
          box-sizing: border-box;
        }
      }
    }
  }

  .heritage {
    .heritage-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      justify-content: center;

      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .heritage-card {
        perspective: 1000px;
        position: relative;
        overflow: hidden;

        .heritage-card-inner {
          position: relative;
          width: 100%;
          height: 300px;
          transform-style: preserve-3d;
          transition: transform 0.6s;
        }

        &:hover .heritage-card-inner {
          transform: rotateY(180deg);
        }

        .heritage-card-front,
        .heritage-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 2px solid white;
          border-style: dotted;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .heritage-card-front {
          background: $main;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .heritage-card-back {
          background: $main;
          color: black;
          transform: rotateY(180deg);
          padding: 20px;

          h2 {
            margin-bottom: 10px;
          }

          button {
            padding: 8px 24px;
            background: $black;
            color: $main;
            display: block;
            width: fit-content;
            border-radius: 50px;
            position: relative;
            isolation: isolate;
            overflow: hidden;
            transition: all 0.4s ease-in-out;
            &::before {
              content: "";
              top: -100%;
              left: 0;
              width: 50%;
              height: 100%;
              z-index: -1;
              position: absolute;
              transition: all 0.4s ease-in-out;
              background: $main;
            }
            &::after {
              content: "";
              top: 100%;
              right: 0;
              width: 50%;
              height: 100%;
              transition: all 0.4s ease-in-out;
              position: absolute;
              background: $main;
              z-index: -1;
            }
            &:hover {
              color: $black;
              border: 1px solid $black;
              &::before {
                top: 0;
              }
              &::after {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

  .entertainmennt {
    .image-cards-section {
      margin: 130px 40px 0 40px;

      .image-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 70px auto;
        position: relative;
        flex-wrap: wrap;

        .image-wrapper {
          width: 50%;
          position: relative;

          .background-img {
            width: 100%;
            height: auto;
            display: block;
          }

          &::after {
            content: "";
            position: absolute;
            top: -16px;
            right: -16px;
            width: 100%;
            height: 100%;
            border: 2px solid #ffffff;
            pointer-events: none;
            box-sizing: border-box;
            z-index: 2;
          }
        }

        .card-content {
          background: rgba(167, 147, 115, 0.8);
          color: $black;
          padding: 20px;
          height: 70%;
          width: 60%;
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-50%, -50%);
          z-index: 3;

          h2 {
            font-size: 24px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            margin-bottom: 15px;
          }

          // .btn {
          //   background-color: #d4a373;
          //   color: white;
          //   border: none;
          //   padding: 10px 20px;
          //   cursor: pointer;
          //   border-radius: 5px;
          //   font-size: 14px;

          //   &:hover {
          //     background-color: #b4845e;
          //   }
          // }
        }

        &.reverse {
          flex-direction: row-reverse;

          .image-wrapper {
            &::after {
              top: -16px;
              left: -16px;
              right: auto;
            }
          }

          .card-content {
            text-align: right;
            left: auto;
            right: 30%;
            transform: translate(50%, -50%);
          }
        }
      }

      @media (max-width: 768px) {
        .image-card {
          flex-direction: column;

          .background-img,
          .card-content {
            width: 100%;
            position: static;
            transform: none;
          }

          .card-content {
            margin-top: 20px;
            text-align: center;
          }

          &.reverse {
            flex-direction: column;

            .background-img,
            .card-content {
              width: 100%;
              position: static;
              transform: none;
            }

            .card-content {
              margin-top: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .menu {
    padding: 40px 0;
    .section-title {
      text-align: center;
      color: $main;

      h2 {
        color: $main;
      }
    }
    .nav-tabs {
      border: 0;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .nav-link {
      color: $main;
      border-color: $main;
      padding: 8px 16px;
      border-radius: 50px;
      transition: 0.3s;
      cursor: pointer;
      height: 100%;
      border: 0;

      @media (max-width: 575px) {
        margin: 0 10px;
        padding: 10px 0;
      }

      i {
        padding-right: 15px;
        font-size: 48px;
      }

      h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }

      &.active {
        background-color: transparent;
        color: $main;
        background: $white;
      }
    }

    .tab-header {
      p {
        font-size: 14px;
        text-transform: uppercase;
        color: color-mix(in srgb, $main5, transparent 20%);
        margin-bottom: 32px;
      }

      .small-desc {
        font-size: 14px;
        color: color-mix(in srgb, $main5, transparent 20%);
        margin-top: 10px;
        text-align: center;
      }
    }

    .tab-content {
      .menu-item {
        text-align-last: center;
        border: 1px solid #64646434;
        border-radius: 24px;
        img {
          width: 100%;
          height: 200px;
          object-fit: contain;
          object-position: center;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.05) rotate(-2deg);
          }
        }
        .menu-img {
          padding: 0 60px;
          margin-bottom: 15px;
        }

        h4 {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 5px;
          color: $main;
        }

        .ingredients {
          color: color-mix(in srgb, $main5, transparent 50%);
          margin-bottom: 5px;
        }

        .price {
          font-size: 24px;
          font-weight: 700;
          color: $main;
        }
      }
    }
  }

  .gallery {
    .wrapper {
      --_gap: 0.5rem;
      --_offset: 10%;
      --_offset-1: calc(var(--_offset) * 1);
      --_offset-2: calc(var(--_offset) * 2);
      --_offset-3: calc(var(--_offset) * 3);
      --_offset-7: calc(var(--_offset) * 7);
      --_offset-8: calc(var(--_offset) * 8);
      --_offset-9: calc(var(--_offset) * 9);

      width: calc(100% - 4rem);
      max-width: 800px;
      margin: 2rem auto;
      color: white;
      font-family: system-ui;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 var(--_gap);
      pointer-events: none;
      transform-style: preserve-3d;
    }

    .wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .wrapper > div:nth-child(n + 4) {
      margin-top: calc(var(--_offset-3) * -1 + var(--_gap));
    }

    .wrapper > div:nth-child(1) {
      --_clip-path: 0 0, 100% 0, 100% var(--_offset-9), 0 100%;
    }
    .wrapper > div:nth-child(2) {
      --_clip-path: 0 0, 100% 0, 100% var(--_offset-8), 0 var(--_offset-9);
    }
    .wrapper > div:nth-child(3) {
      --_clip-path: 0 0, 100% 0, 100% var(--_offset-7), 0 var(--_offset-8);
    }
    .wrapper > div:nth-child(4) {
      --_clip-path: 0 var(--_offset-3), 100% var(--_offset-2),
        100% var(--_offset-8), 0 var(--_offset-7);
    }
    .wrapper > div:nth-child(5) {
      --_clip-path: 0 var(--_offset-2), 100% var(--_offset-1),
        100% var(--_offset-9), 0 var(--_offset-8);
    }
    .wrapper > div:nth-child(6) {
      --_clip-path: 0 var(--_offset-1), 100% 0%, 100% 100%, 0 var(--_offset-9);
    }
    .wrapper > div:nth-child(7) {
      --_clip-path: 0 0%, 100% var(--_offset-1), 100% 100%, 0 100%;
    }
    .wrapper > div:nth-child(8) {
      --_clip-path: 0 var(--_offset-1), 100% var(--_offset-2), 100% 100%, 0 100%;
    }
    .wrapper > div:nth-child(9) {
      --_clip-path: 0 var(--_offset-2), 100% var(--_offset-3), 100% 100%, 0 100%;
    }

    .wrapper:has(:hover) > div:not(:hover) {
      filter: blur(3px);
      opacity: 0.5;
      scale: 0.9;
    }
    .wrapper > div {
      position: relative;
      pointer-events: auto;
      aspect-ratio: 1;
      transition: scale 500ms ease-in-out, filter 500ms ease-in-out,
        clip-path 500ms ease-in-out 500ms;
      clip-path: polygon(var(--_clip-path));
      transform: translate3d(0, 0, 0);
      background-color: $main;

      &:hover {
        transition: scale 500ms ease-in-out, filter 500ms ease-in-out,
          clip-path 500ms ease-in-out 500ms;
        scale: 1.3;
        --_clip-path: 0 0, 100% 0, 100% 100%, 0 100%;
        z-index: 100;
        opacity: 1;
        background-color: $main;
      }
    }
  }

  .rooms {
    padding: 60px 0;
    .room_card {
      width: 100%;
      background: $black;
      border-radius: 16px;
      .img {
        width: 100%;
        aspect-ratio: 3 / 2;
        overflow: hidden;
        border-radius: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h6 {
          color: $white;
          font-size: 16px;
        }
        p {
          color: $white;
          font-size: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          margin: 0;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        a {
          color: $main;
        }
      }
    }
  }

  .blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }

  .card {
    position: relative;
    background: #101010;
    flex: 1 1 calc(33.333% - 20px);
    width: 330px;
    border-radius: 6px;
    padding: 2rem;
    color: $white;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2),
      0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 10px;

    &:hover {
      transform: translateY(-10px);
      transition: all 0.4s ease-in-out;
      box-shadow: 0 0.25rem 0.25rem rgba(167, 147, 115, 0.2),
        0 0 1rem rgba(167, 147, 115, 0.2);
    }

    &__image-container {
      margin: -3rem -2rem -1rem -2rem;
    }

    &__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 0;
      animation: ImageFadeIn 0.8s 1.4s forwards;
    }

    &__line {
      opacity: 0;
      animation: LineFadeIn 0.8s 0.8s forwards ease-in;
    }

    &__content {
      margin-top: 1rem;
      opacity: 0;
      font-size: 14px;
      animation: ContentFadeIn 0.8s 1.6s forwards;
    }

    &__title {
      color: $main;
      font-weight: 800;
      font-size: 16px;
      letter-spacing: 0.01em;
    }

    &__svg {
      position: absolute;
      left: 0;
    }
    &__desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .animated_button {
      padding: 4px 24px;
      background: $main;
      color: $white;
      display: block;
      width: fit-content;
      border-radius: 50px;
      position: relative;
      isolation: isolate;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      &::before {
        content: "";
        top: -100%;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        position: absolute;
        transition: all 0.4s ease-in-out;
        background: $black;
      }
      &::after {
        content: "";
        top: 100%;
        right: 0;
        width: 50%;
        height: 100%;
        transition: all 0.4s ease-in-out;
        position: absolute;
        background: $black;
        z-index: -1;
      }
      &:hover {
        color: $white;
        &::before {
          top: 0;
        }
        &::after {
          top: 0;
        }
      }
      @media screen and (max-width: 768px) {
        margin: 0 auto;
      }
    }

    @keyframes LineFadeIn {
      0% {
        opacity: 0;
        d: path(
          "M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "
        );
        stroke: #fff;
      }
      50% {
        opacity: 1;
        d: path(
          "M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"
        );
        stroke: $main;
      }
      100% {
        opacity: 1;
        d: path(
          "M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"
        );
        stroke: $white;
      }
    }

    @keyframes ContentFadeIn {
      0% {
        transform: translateY(-1rem);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes ImageFadeIn {
      0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
      }
      50% {
        opacity: 1;
        filter: blur(2px);
      }
      100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
      }
    }
  }

  @media (max-width: 786px) {
    .card {
      flex: 1 1 100%;
    }
  }

  @keyframes LineFadeIn {
    0% {
      opacity: 0;
      d: path(
        "M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "
      );
      stroke: #fff;
    }
    50% {
      opacity: 1;
      d: path(
        "M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"
      );
      stroke: $main;
    }
    100% {
      opacity: 1;
      d: path(
        "M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"
      );
      stroke: $white;
    }
  }

  @keyframes ContentFadeIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes ImageFadeIn {
    0% {
      transform: translate(-0.5rem, -0.5rem) scale(1.05);
      opacity: 0;
      filter: blur(2px);
    }
    50% {
      opacity: 1;
      filter: blur(2px);
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
      filter: blur(0);
    }
  }

  .gallery-container {
    padding: 20px;

    .nav-tabs {
      border-bottom: none;

      .nav-link {
        border: none;
        color: $main;
        &:hover {
          border: none;
        }
        &.active {
          border: none;
          color: $white;
          background-color: transparent;
        }
      }
    }

    .content-row {
      display: flex;
      align-items: flex-start;
    }

    .sidebar {
      width: 30%;
      padding: 10px;
      border-right: 2px solid #dddddd88;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #dddddd88;
          cursor: pointer;

          &:hover {
            background-color: rgba(167, 147, 115, 0.486);
          }

          img {
            width: 60px;
            height: 60px;
            margin-left: 10px;
            border-radius: 5px;
          }

          .text-truncate {
            color: #ddd;
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .main-gallery {
      flex-grow: 1;
      padding: 20px;
      text-align: center;

      img {
        max-width: 100%;
        border-radius: 10px;
      }

      .caption {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }

  .contact_us {
    .info-box {
      background-color: #000000;
      color: $main;
      border-bottom: 3px solid $main;
      box-shadow: 0 0.25rem 0.25rem rgba(167, 147, 115, 0.1),
        0 0 1rem rgba(167, 147, 115, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      .icon {
        font-size: 40px;
        color: $main5;
      }

      p {
        font-weight: bold;
        margin: 0;
      }
    }
    .contact_section {
      padding-top: 0px;
    }
  }

  .section-header {
    background: $main;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 42px 16px;
    margin-bottom: 80px;

    h1 {
      margin-bottom: 16px;
    }

    p {
      width: min(800px, 100%);
      margin: 0 auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -46px;
      left: 0;
      width: 100%;
      height: 48px;
      background: url("../images/pattern.svg");
      background-size: contain;
      background-repeat: repeat;
      background-position: bottom;
      transform: rotate(180deg);
    }
  }
}

footer {
  padding: 60px 8px 16px;
  border: 1px solid #292929;
  .img {
    img {
      height: 40px;
    }
  }
  .about {
    p {
      font-size: 14px;
      font-weight: 600;
      color: $white;
      line-height: 26px;
      max-width: 800px;
      padding-inline-end: 52px;
      @media screen and (max-width: 992px) {
        padding-inline-end: 0;
      }
    }
  }
  .social {
    display: flex;
    gap: 16px;
    li {
      padding: 0;
    }
    a {
      width: 36px;
      height: 36px;
      @include centerFlex();
      background: $main;
      border-radius: 4px;
      font-size: 14px;
      transition: all 0.4s ease-in-out;
      i {
        color: $white;
      }
      &:hover {
        background: $white;
        transform: translateY(-4px);
        i {
          color: $main;
        }
      }
    }
  }
  h3 {
    color: $white;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
    @media (max-width: 992px) {
      margin-top: 32px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding-left: 24px;
      margin-bottom: 8px;
      a {
        color: $white;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: $main;
        }
      }
    }
  }
  .copy {
    @include space-between();
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid #292929;
    gap: 16px;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    p {
      color: $white;
      line-height: 26px;
      a {
        color: $main;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #000;
  border-radius: 24px;
  padding: 24px;
  .input_field {
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    label {
      color: $white;
      font-size: 16px;
    }
    input,
    textarea {
      padding: 12px 16px;
      border: 1px solid #292929;
      border-radius: 12px;
      background: #292929;
      color: $white;
      font-size: 16px;
      transition: all 0.4s ease-in-out;
      &:focus {
        border-color: $main;
      }
    }
  }
  button {
    padding: 12px 16px;
    border: 1px solid $main;
    border-radius: 12px;
    background: $main;
    color: $white;
    font-size: 16px;
    margin-top: 12px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
      background: $white;
      color: $main;
    }
  }
}

.modal-content {
  background: #000;
}
